{% extends 'base.html' %} 

{% block content %}
  <style>
    body{
      background-color: #D3D3D3;
    }
  </style>
  <h2>Data as of date {{ covid_date }} UTC</h2>
  <br/>
  <h2>Top 10 Countries By Daily Confirmed Cases</h2>
  <br/>
  <canvas id="myChart" width="500" height="150"></canvas>
  <script type="text/javascript">
  var ctx = document.getElementById('myChart');
  var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
          labels: [{% for j in country_list_total_confirmed %}"{{ j }}",{% endfor %}],
          datasets: [{
              label: 'Top 10 countries by confirmed cases',
              data: [{% for j in total_confirmed_cases %}{{ j }},{% endfor %}],
              backgroundColor: '#5e1914', 
              borderWidth: 2
          }]
      },
      options: {
        legend: {
            display: false,
            position: 'bottom'
         },
          scales: {
              yAxes: [{
                ticks: {
                    callback: function(label, index, labels) {
                        return label/1000+'k';
                    }
                },
                scaleLabel: {
                    display: true,
                }
            }],
              xAxes: [{
                  ticks: {
                      fontSize: 14,
                      beginAtZero: true
                  }
              }]
          } 
      }
  });
  </script>
  
  <br/>

  <style>
      body{
        background-color: #D3D3D3;
      }
    </style>
    <br/>
    <h2>Top 10 Countries By Daily Cases</h2>
    <br/>
    <canvas id="myChart2" width="500" height="150"></canvas>
    <script type="text/javascript">
    var ctx = document.getElementById('myChart2');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: [{% for j in country_list_new_confirmed %}"{{ j }}",{% endfor %}],
            datasets: [{
                label: 'Top 10 countries by confirmed cases',
                data: [{% for j in new_confirmed_cases %}{{ j }},{% endfor %}],
                backgroundColor: "#c45850", 
                borderWidth: 2
            }]
        },
        options: {
          legend: {
              display: false,
              position: 'bottom'
          },
            scales: {
                yAxes: [{
                ticks: {
                    callback: function(label, index, labels) {
                        return label/1000+'k';
                    }
                },
                scaleLabel: {
                    display: true,
                }
            }
        ],
                xAxes: [{
                    ticks: {
                        fontSize: 14,
                        beginAtZero: true
                    }
                }]
            }
        }
    });
    </script>
    <br/>
    <br/>
      <h2>Top 10 Countries By Daily Deaths</h2>
      <br/>
      <canvas id="myChart3" width="500" height="150"></canvas>
      <script type="text/javascript">
      var ctx = document.getElementById('myChart3');
      var myChart = new Chart(ctx, {
          type: 'bar',
          data: {
              labels: [{% for j in country_list_new_deaths %}"{{ j }}",{% endfor %}],
              datasets: [{
                  label: 'Top 10 countries By New Deaths',
                  data: [{% for j in new_confirmed_deaths %}{{ j }},{% endfor %}],
                  backgroundColor: '#8D021F', 
                  borderWidth: 2
              }]
          },
          options: {
            legend: {
                display: false,
                position: 'bottom'
             },
              scales: {
                  yAxes: [{
                    ticks: {
                        callback: function(label, index, labels) {
                            return label/1000+'k';
                        }
                    },
                    scaleLabel: {
                        display: true,
                    }
                }],
                  xAxes: [{
                      ticks: {
                          fontSize: 14,
                          beginAtZero: true
                      }
                  }]
              } 
          }
      });
      </script>


{% endblock %}
